* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.qoutes {
    width: 100%;
    height: 100vh;

}

.qoutes {
    width: 100%;
    height: 100vh;
    background-image: url('./backgroud.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qoutes p {
    color: rgb(0, 0, 0);
    font-size: clamp(1.5rem, 5vw, 3rem); /* auto scales on any screen */
    font-family: Georgia, serif;
    text-align: center;
    padding: 0 20px;
}